*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px; 
    background-attachment: fixed;
}
@media screen and (max-width: 670px){
    header{
        min-height: 380px;
    }
}
.no-shadows{
    box-shadow: none;
}
p.about{
    margin-top: 10px;
    margin-bottom: 10px;
}
img.testimonials{
    border-radius: 50%;
}
blockquote{
    border-left: 5px solid #4CAF50;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .initials{
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right:1em;
    color:white;
  }

/* back to top button */
#back-to-top{
    position: fixed;
    bottom: 20px;
    width: 50px;
    right: 20px;
    font-size: 20px;
    height: 50px;
    color: #fff;
    border: 2px solid #033953;
    outline: none;
    border-radius: 50%;
    background-color: #033953;
    cursor: pointer;
    z-index: 1;
    display: none;
}